@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body { height: 100%; font-family: 'Inter', sans-serif; font-size: 13px; }
body { background: #101822; color: #feffff; overflow: hidden; }

/* Scrollbar */
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-thumb { background: #2a3650; border-radius: 4px; }
::-webkit-scrollbar-track { background: transparent; }

/* Selection */
::selection { background: rgba(33, 56, 255, 0.3); }

@layer components {
  /* Transition utility */
  .transition-default {
    @apply transition-all duration-150 ease-in-out;
  }
}
